{% extends 'user_authentication/base.html' %}



{% block title %}
    Login
{% endblock title %}


{% block content %}
<div class="card-header">
    <h3>Reset password</h3>

    
    {% if messages %}
        
        {% for message in messages %}
         <div class="alert alert-danger text-white">{{message}}</div>
        {% endfor %}
            
    {% endif %}
        
    </div>
    <div class="card">
       <div class="card-body">
        <div class="card-title">
            <div class="alert alert-danger displayNone" id="login-alert">username or password incorrect!</div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <span>password</span>
                <input type="password" name="password" id="password" value="{{password}}" class="form-control" required placeholder="enter password">
                <div><span id="password_error" class="text-danger"></span></div>
            </div> <br>
            <div class="form-group">
                <span>repeat password</span>
                <input type="password" name="r_password" id="r_password" value="{{r_password}}" class="form-control" required placeholder="repeat your password">
                <div><span id="r_password_error" class="text-danger"></span></div>
            </div>
           
            <br>
            <div class="form-group">
                <button class="btn btn-sm btn-success" >Reset Password</button>&nbsp
            </div>
        </form>
       
       </div>
    </div>
    </div>
{% endblock content %}
    