{% extends 'user_authentication/base.html' %}



{% block title %}
    Login
{% endblock title %}


{% block content %}
<div class="card-header">
    <h3>Reset password</h3>

    
    {% if messages %}
        
        {% for message in messages %}
         <div class="alert alert-success text-white">{{message}}</div>
        {% endfor %}
            
    {% endif %}
        
    </div>
    <div class="card">
       <div class="card-body">
        <div class="card-title">
            <div class="alert alert-danger displayNone" id="login-alert">username or password incorrect!</div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <span>email</span>
                <input type="email" name="email" id="email" class="form-control" placeholder="enter a registered email">
                <div><span id="email_error" class="text-danger"></span></div>
                
            </div>
           
            <br>
        </form>
        <div class="form-group">
            <button class="btn btn-sm btn-success" onclick="sendResetPasswordMail()">send mail</button>&nbsp

            <a href="{% url 'login' %}" class=" btn-sm btn-success">Login</a>&nbsp
            <a href="{% url 'register' %}" class=" btn-sm btn-success">Register</a>&nbsp


        </div>
       </div>
    </div>
    </div>
{% endblock content %}
    