{% extends 'expenses/base.html' %}
{% load static %}


{% block title %}
    
{% endblock title %}
{% block content %}
<!-- add expense Modal -->

<div class="modal fade" id="add_expense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add_expense" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Expense</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="group-form">
            <input type="hidden" name="expense_id" id="expense_id" >

            <span>expense name</span>
            <input type="text" name="expense" id="expense" placeholder="expense name" class="form-control">
          </div>
          <br>
          <div class="group-form">
            <span>expense amount</span>
            <input type="number" name="amount" id="amount" placeholder="amount" class="form-control">
          </div>
          <br>
          <div class="group-form">
            <span>description</span>
            <textarea type="text" name="description" id="description" placeholder="add description" cols="10" rows="5" class="form-control">
            </textarea>
          </div>
          <br>
          <div class="group-form">
            <span>expense category</span>
            <div class="mb-3">
              <select class="form-select" id="expense_cat" name="expense_cat" required aria-label="select example">
                
                {% for expense_cat in expense_cats %}
                <option value="{{expense_cat.id}}">{{expense_cat.category_name}}</option>
                  
                {% endfor %}
              </select>
            </div>
            </div>
          <br>
          <div class="group-form">
            <span>Date</span>
            <input type="date" name="date" id="date" class="form-control">
          </div>
          <br>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">save expense</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>
{% comment %} end of modal  {% endcomment %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#add_expense">add expense +</button>
      
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
          <svg class="bi"><use xlink:href="#calendar3"/></svg>
          This week
        </button>
      </div>
    </div>

    {% comment %} <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> {% endcomment %}
    
    {% if messages %}
      
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
      {% endfor %}
        
    {% endif %}
    
    <h5 class="float-end">My Total Expenses : <span id="total-amount">{{total_amount}}</span></h5>
    <h5>My Expense Summary</h5>
     
     <div style="width:800px; height:800px">
        <canvas id="myChart" ></canvas>
      </div>
      
    </div>
  </main>
{% endblock content %}
    
    