{% extends 'expenses/base.html' %}



{% block title %}
    
{% endblock title %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
          <svg class="bi"><use xlink:href="#calendar3"/></svg>
          This week
        </button>
      </div>
    </div>

    {% comment %} <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> {% endcomment %}

  
    <div class="table-responsive small">
      
      {% if messages %}
        
        {% for message in messages %}
      <div class="alert alert-info">{{message}}</div>
        {% endfor %}
          
      {% endif %}
        
        <div class="mb-3">
          <form action="" method="post">
            {% csrf_token %}
            <select class="form-select" name="currency" required aria-label="select example">
              
              {% if selected_currency %}
              <option value="{{selected_currency.currency_type}}">{{selected_currency.currency_type}}</option>
                {% else %}
              <option value="">--select--</option>
              {% endif %}

              {% for currency in currency_list  %}
              <option value="{{currency.value}} - {{currency.name}}">{{currency.value}} - {{currency.name}}</option>
                
              {% endfor %}
                
            </select>
            <br>
            <div><input type="submit" value="save" class="btn btn-sm btn-primary"></div>
          </form>
          </div>
    </div>
  </main>
{% endblock content %}
    
    